@import url("./global.css");
@import url("./pre-header.css");
@import url("./header.css");
@import url("./carrossel.css");
@import url("./especialidades.css");
@import url("./cursos-em-alta.css");
@import url("./diferenciais.css");
@import url("./formulario.css");
@import url("./footer.css");
